# Terraform 로컬 상태 및 캐시
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform 변수 파일(대개 민감정보 포함)
*.tfvars
*.tfvars.json

# Terraform 계획 출력 파일
*.tfplan
plan.out

# 로컬 override 파일 무시
override.tf
override.tf.json
*_override.tf
*_override.tf.json
